[submodule "sunshine-util"]
	path = sunshine-util
	url = https://github.com/pigeatgarlic/sunshine-util
[submodule "DevSim"]
	path = DevSim
	url = https://github.com/pigeatgarlic/DevSim
[submodule "signaling-server"]
	path = signaling-server
	url = https://github.com/pigeatgarlic/signaling
[submodule "browser-client"]
	path = browser-client
	url = https://github.com/pigeatgarlic/webrtc-browser
[submodule "auth-temp"]
	path = auth-temp
	url = https://github.com/pigeatgarlic/auth-temp
